<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tf.mapper.PersonMapper">
    

     <resultMap type="FilmInfo" id="GroupMap">
		    <id  property="fileID"  column="fileID"/>	
		    <result  column="filemName"  property="filemName"/>
		    <result column="actor"  property="actor"/>
		    <result column="director"  property="director"/>
		    <result column="ticketPrice"  property="ticketPrice"/>
		    
	        <collection property="filmType"  column="typeID"    ofType="FilmType"  >
	             <id     property="typeID"  column="ttypeID"/>	
			    <result    property="typeName"  column="ttypeName"/>
	        </collection>
	    </resultMap>   
    
	<select id="findAll"    resultMap="GroupMap">
		select i.*,t.typeID  ttypeId,t.typeName ttypeName from filmInfo i  join filmType t on i.typeid=t.typeId
	</select>
    
   
    <select id="findfilmType"  resultType="FilmType">
		select * from filmType
	</select>
	
	<insert id="add"   parameterType="FilmInfo"  >
		<selectKey keyColumn="currId" keyProperty="fileID" resultType="Integer"
			order="BEFORE">
			select seq_filmInfo.nextval currId from dual
		</selectKey>
		insert into filmInfo(fileID,typeID <if test="filemName!=null">,filemName</if>
									<if test="actor!=null">,actor</if>
									<if test="director!=null">,director</if>
									<if test="ticketPrice!=null">,ticketPrice</if>
									)
		 values(#{fileID},#{typeID}<if test="filemName!=null">,#{filemName}</if>
		 				<if test="actor!=null">,#{actor}</if>
		 				<if test="director!=null">,#{director}</if>
						<if test="ticketPrice!=null">,#{ticketPrice}</if>
						)
	</insert>
	
	<update id="update"   parameterType="FilmInfo" >

		update filmInfo  set filemName=#{filemName},actor=#{actor},director=#{director},ticketPrice=#{ticketPrice} 
		where fileID=#{fileID}
	</update>
	

	
	<delete id="delete"  parameterType="Integer">
		delete from filmInfo where fileID=#{fileID}
	</delete>
	
	
	<select  id="findAllByQuery"   parameterType="map"   resultMap="GroupMap" >
	    select i.*,t.typeID  ttypeId,t.typeName ttypeName from filmInfo i  join filmType t on i.typeid=t.typeId  where 1=1   
	   <if test="filemName!=null  and  ''!=filemName ">  and  i.filemName  like  '%${filemName}%'  </if>
	   <if test="typeID!=-1">   and  i.typeID=${typeID} </if>
	   <if test="actor!=null  and  ''!=actor ">    and  i.actor  like '%${actor}%'  </if>
	   <if test="director!=null  and  ''!=director">    and  i.director like  '%${director}%'  </if>
	   <if test="ticketPrice!=-1">
	       <choose>
	           <when test="ticketPrice==0"> and i.ticketprice between 0 and 30 </when>
	           <when test="ticketPrice==1"> and i.ticketprice between 30 and 50 </when>
	           <when test="ticketPrice==2"> and i.ticketprice between 50 and 100 </when>
	           <when test="ticketPrice==3"> and i.ticketprice>100</when>
	       </choose> 
	   </if>
	</select>
	
	
</mapper>